<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block content %}
<div class="container mt-5">
    <img src="../static/image/kittens.jpg" class="img-fluid" alt="...">
    <h1>Сайт любителей кошек</h1>
    <p>Lorem Ipsum - это просто фиктивный текст для полиграфической и наборной промышленности. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный типограф взял набор шрифтов и переработал его, чтобы создать книгу с образцами шрифтов. Он пережил не только пять столетий, но и переход на электронный набор текста, оставаясь практически неизменным.
        Он был популяризирован в 1960-х годах с выпуском листов Letraset, содержащих отрывки из Lorem Ipsum, и совсем недавно с помощью настольного издательского программного обеспечения, такого как Aldus PageMaker, включая версии Lorem Ipsum.
        Вопреки распространенному мнению, Lorem Ipsum - это не просто случайный текст. Она восходит к произведению классической латинской литературы, датируемому 45 годом до нашей эры, и насчитывает более 2000 лет.
    </p>
    <p>Lorem Ipsum - это просто фиктивный текст для полиграфической и наборной промышленности. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный типограф взял набор шрифтов и переработал его, чтобы создать книгу с образцами шрифтов. Он пережил не только пять столетий, но и переход на электронный набор текста, оставаясь практически неизменным.
        Он был популяризирован в 1960-х годах с выпуском листов Letraset, содержащих отрывки из Lorem Ipsum, и совсем недавно с помощью настольного издательского программного обеспечения, такого как Aldus PageMaker, включая версии Lorem Ipsum.
        Вопреки распространенному мнению, Lorem Ipsum - это не просто случайный текст. Она восходит к произведению классической латинской литературы, датируемому 45 годом до нашей эры, и насчитывает более 2000 лет.
    </p>
    <p>Lorem Ipsum - это просто фиктивный текст для полиграфической и наборной промышленности. Lorem Ipsum был стандартным фиктивным текстом в отрасли с 1500-х годов, когда неизвестный типограф взял набор шрифтов и переработал его, чтобы создать книгу с образцами шрифтов. Он пережил не только пять столетий, но и переход на электронный набор текста, оставаясь практически неизменным.
        Он был популяризирован в 1960-х годах с выпуском листов Letraset, содержащих отрывки из Lorem Ipsum, и совсем недавно с помощью настольного издательского программного обеспечения, такого как Aldus PageMaker, включая версии Lorem Ipsum.
        Вопреки распространенному мнению, Lorem Ipsum - это не просто случайный текст. Она восходит к произведению классической латинской литературы, датируемому 45 годом до нашей эры, и насчитывает более 2000 лет.
    </p>
</div>
{% endblock %}
